<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2017 &copy; BudgetNode. Brought to you by <a href="https://budgetnode.com/">BudgetNode</a> </div>
</div>
<!--End-Footer-part-->
</body>
</html>
