<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> {{"now"|date("Y")}} &copy; SmartPanel. Brought to you by <a href="https://budgetnode.com/">BudgetNode</a> </div>
</div>
<!--End-Footer-part-->
</body>
</html>
