{{ include('header.html.twig', { 'page_title': page_title, 'page_id': 3, 'link': settings.clientarea_link }) }}
<div id="page-content-wrapper">
        <div id="page-content">

                <div class="container">



<!-- jQueryUI Accordion -->

<script type="text/javascript" src="../../assets/widgets/accordion-ui/accordion.js"></script>
<script type="text/javascript">
    /* jQuery UI Accordion */

    $(function() { "use strict";
        $(".accordion").accordion({
            heightStyle: "content"
        });
    });

    $(function() { "use strict";
        $("#accordion-hover")
                .accordion({
                    event: 'mouseover',
                    heightStyle: 'auto'
                });
    });
</script>

<!-- jQueryUI Tabs -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/tabs-ui/tabs.css">-->
<script type="text/javascript" src="../../assets/widgets/tabs-ui/tabs.js"></script>
<script type="text/javascript">
    /* jQuery UI Tabs */

    $(function() { "use strict";
        $(".tabs").tabs();
    });

    $(function() { "use strict";
        $(".tabs-hover").tabs({
            event: "mouseover"
        });
    });
</script>

<!-- Boostrap Tabs -->

<script type="text/javascript" src="../../assets/widgets/tabs/tabs.js"></script>

<!-- Tabdrop Responsive -->

<script type="text/javascript" src="../../assets/widgets/tabs/tabs-responsive.js"></script>
<script type="text/javascript">
    /* Responsive tabs */
    $(function() { "use strict";
        $('.nav-responsive').tabdrop();
    });
</script>

<div id="page-title">
<h2>Manage Server</h2>
<p>Manging OpenVZ server</p>
</div>

<div class="panel">
<div class="panel-body">
    <h3 class="title-hero">
        Hostname Here
    </h3>
    <div class="example-box-wrapper">
    <div class="col-md-6">
    <table class="table table-striped">
                        <thead>
                          <tr>
                          <td>Server Info</td>
                          </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Status</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>Main IP</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>Node</td>
                            <td>Row 1</td>
                        </tr>
                        </tbody>
                    </table>
    </div>
    <div class="col-md-6">
    <table class="table table-striped">
    <thead>
      <tr>
      <td>Server Resources</td>
      </tr>
    </thead>
                        <tbody>
                        <tr>
                            <td>Load Average</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>SWAP</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>HDD</td>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>Bandwidth</td>
                            <td>Row 1</td>
                        </tr>
                        </tbody>
                    </table>
    </div>

     <div class="example-box-wrapper">

         <div class="content-box tabs">
             <h3 class="content-box-header bg-primary">
                 <span>CONTROL</span>
                 <ul>
                     <li>
                         <a href="#settings" title="Tab 1">
                             Settings
                         </a>
                     </li>
                     <li>
                         <a href="#network" title="Tab 2">
                             Network
                         </a>
                     </li>
                     <li>
                         <a href="#statistics" title="Tab 3">
                             Statistics
                         </a>
                     </li>
                 </ul>
             </h3>
             <div id="settings">
             <div class="panel">
<div class="panel-body">
    <h3 class="title-hero">
        Power Control
    </h3>

    <div class="example-box-wrapper">

        <div class="content-box remove-border dashboard-buttons clearfix">
        <a href="#" class="btn vertical-button remove-border btn-success" title="">
            <span class="glyph-icon icon-separator-vertical">
                <i class="glyph-icon icon-play"></i>
            </span>
            <span class="button-content">Boot</span>
        </a>
        <a href="#" class="btn vertical-button remove-border btn-danger" title="">
              <span class="glyph-icon icon-separator-vertical">
                  <i class="glyph-icon icon-stop"></i>
              </span>
              <span class="button-content">Shutdown</span>
          </a>
          <a href="#" class="btn vertical-button remove-border btn-warning" title="">
              <span class="glyph-icon icon-separator-vertical">
                  <i class="glyph-icon icon-rotate-left"></i>
              </span>
              <span class="button-content">Restart</span>
          </a>
        </div>
    </div>

</div>
</div>
<div class="panel">
<div class="panel-body">
<h3 class="title-hero">
Operations
</h3>

<div class="example-box-wrapper">

<div class="content-box remove-border dashboard-buttons clearfix">
<a href="#" class="btn vertical-button remove-border btn-info" title="">
<span class="glyph-icon icon-separator-vertical">
   <i class="glyph-icon icon-tags"></i>
</span>
<span class="button-content">Set Hostname</span>
</a>
<a href="#" class="btn vertical-button remove-border btn-purple" title="">
 <span class="glyph-icon icon-separator-vertical">
     <i class="glyph-icon icon-download"></i>
 </span>
 <span class="button-content">Reinstall OS</span>
</a>
</div>
</div>

</div>
</div>
<div class="panel">
<div class="panel-body">
<h3 class="title-hero">
Access
</h3>

<div class="example-box-wrapper">

<div class="content-box remove-border dashboard-buttons clearfix">
<a href="#" class="btn vertical-button remove-border btn-success" title="">
<span class="glyph-icon icon-separator-vertical">
   <i class="glyph-icon icon-play"></i>
</span>
<span class="button-content">noVNC</span>
</a>
<a href="#" class="btn vertical-button remove-border btn-danger" title="">
 <span class="glyph-icon icon-separator-vertical">
     <i class="glyph-icon icon-stop"></i>
 </span>
 <span class="button-content">Spice</span>
</a>
</div>
</div>

</div>

             </div>
             <div id="network">
                 Tab 2 content goes here ...
             </div>
             <div id="statistics">
                 Tab 3 content goes here ...
             </div>
         </div>

        </div>
    </div>
</div>



{{ include('footer.html.twig') }}
